body {
  background: linear-gradient(90deg, rgb(255, 238, 7) 10%, rgb(100, 0, 146) 100%);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /*if you have a div with a fixed size and content that exceeds this size, applying "overflow: hidden" will hide the overflowing content rather than allowing it to be displayed outside the div. */
}

.tasks {
  display: flex;
  justify-content: center;
  
  align-items: center;
  margin: 20px;
}

#input-text {
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  width: 25%;
  height: 7%;
  border: 0;
  outline: 0;
  border-radius: 50px 15px;
}
.task-output{
  list-style: none;
}
.task-output li{
      margin-bottom: 10px;
      border: 2px solid black;
      padding: 15px;
      width: 400px;
      border-radius: 15px;  
      word-wrap: break-word;
}

/* From Uiverse.io by andrew-demchenk0 */
.button {
  position: relative;
  width: 151px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ffee07;
  border-radius: 15px;
  background-color: #ffee07;
}

.button,
.button_icon,
.button_text {
  transition: all 0.3s;
}

.button .button_text {
  transform: translateX(30px);
  color: #000;
  font-weight: 600;
}

.button .button_icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 35px;
  background-color: #ffee07;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.button_icon:hover{
  background-color: #640092;
  color: white;
}
.button_icon:hover .svg {
  width: 29px;
  stroke: #ffffff;
}
.button .svg {
  width: 29px;
  stroke: #000;
}

.button:hover {
  background: #640092;
}

.button:hover .button_text {
  color: transparent;
}

.button:hover .button_icon {
  width: 140px;
  transform: translateX(0);
}

.button:active .button_icon {
  background-color: #640092;
}

.button:active {
  border: 1px solid #640092;

}

#reset{
  visibility: hidden;
}
.delete{
  float: right;
  background: #ffee0056 ;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.clear{
  margin-top: 15px;
  width: 151px;
  height: 40px;
  background-color: #640092;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
}
.clear:hover{
  background-color: #ffea00;
  color: black;
  transform: rotate(360deg);
  transition: 0.6s;
}
